<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <title>Supermarket System</title>
      </head>
      <body>
        <h6 class="m-3 font-weight-bold text-primary">Log In to the Supermarket Management Panel</h6>
        <div class="container">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>

