<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Invoices</title>
  </head>
  <body>

	<div class="card shadow mb-4">
		<div class="card-header py-3">
            <h2 class="m-6 font-weight-bold text-primary">Invoices Management</h2>
            <a href="{% url "invoice:invoice_create" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create a new invoice</a>
            <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Logout</a>


		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
                            <th>ID</th>
							<th>Address</th>
							<th>Created at</th>
                            <th>Customer</th>
							<th>View Details</th>

						</tr>
					</thead>
					
					<tbody>
						{% for invoice in invoices %}
							<tr>
                                <td>{{ invoice.id }}</td>
                                <td>{{ invoice.shipping_address }}</td>
								<td>{{ invoice.created_at }}</td>
                                <td>{{ invoice.customer }}</td>	
								<td><a href="{% url "invoice:invoice_detail" invoice.id %}">Details</a></td>

                            </tr>
						{% endfor %}
					</tbody>
                </table>
				<a href="{% url "invoice:customer_list" %}">All customers</a>
				<br>
				<a href="{% url "invoice:product_list" %}">All products</a>

			</div>
		</div>
	</div>                    
</body>
</html>