<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <title>Add a new invoice</title>
      </head>
      <body>
        <div class="container">
            <h3 class="m-6 font-weight-bold text-primary">Insert Data for a new invoice</h3>

          <form  method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit" />
            <a href="{% url "invoice:invoice_list" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">All invoices</a>
          </form>
        </div>
      </body>
    </html>