<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Invoices</title>
  </head>
  <body>
<form>
   
    <div class="row">
        <label for="id" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" id="id" class="form-control-plaintext" value="{{ invoice.id }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="shipping_address" class="col-sm-2 col-form-label">Shipping Address</label>
        <div class="col-sm-10">
            <input type="text" id="shipping_address" class="form-control-plaintext" value="{{ invoice.shipping_address }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="created_at" class="col-sm-2 col-form-label">Created_at</label>
        <div class="col-sm-10">
            <input type="text" id="created_at" class="form-control-plaintext" value=" {{ invoice.created_at }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="customer" class="col-sm-2 col-form-label">Customer</label>
        <div class="col-sm-10">
            <input type="text" id="customer" class="form-control-plaintext" value="{{ invoice.customer }}" readonly>
        </div>
    </div>
   
    <div class="row">
        <label for="product" class="col-sm-2 col-form-label">Products</label>
        <div class="col-sm-10">
            {% for product in invoice.product.all %}
                <input type="text" id="product" class="form-control-plaintext" value="{{ product }}" readonly>
            {% endfor %}
        </div>
    </div>
   
</form>
<a href="{% url "invoice:invoice_list" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">All invoices</a>
<a href="{% url "invoice:htmltopdf" invoice.id %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Print Invoice</a>
</body>
</html>