<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Product Details</title>
  </head>
  <body>
<form>
   
    <div class="row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" class="form-control-plaintext" value="{{ object.name }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="text" id="price" class="form-control-plaintext" value=" {{ object.price }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-10">
            <input type="text" id="quantity" class="form-control-plaintext" value="{{ object.quantity }}" readonly>
        </div>
    </div>
    
   
   
</form>
<a href="{% url "invoice:product_list" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">All products</a>
</body>
</html>
