<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Products</title>
  </head>
  <body>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
              <h2 class="m-6 font-weight-bold text-primary">Products Management</h2>
              <a href="{% url "invoice:product_create" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Add a new product</a>
              <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Logout</a>
  
  
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>View Details</th>
                                    </tr>
                                    </thead>
                  
                               <tbody>
                                {% for product in object_list %}    
                                <tr>
                                <td>{{ product.id }}</td>  
                                <td>{{ product.name }}</td>  
                                <td>{{ product.price }}</td>  
                                <td>{{ product.quantity }}</td>  
                                <td><a href="{% url "invoice:product_detail" product.id %}">Details</a></td>
                                    </tr>
                                {% endfor %}
                  </tbody>
                        </table>
                        <a href="{% url "invoice:invoice_list" %}">All Invoices</a>
                        <br>
                        <a href="{% url "invoice:customer_list" %}">All Customers</a>

              </div>
            </div>
          </div>                    
        </body>
        </html>

       