<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Customer Details</title>
  </head>
  <body>
<form>
   
   
    <div class="row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="name" class="form-control-plaintext" value="{{ object.name }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" id="phone" class="form-control-plaintext" value=" {{ object.phone }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" id="email" class="form-control-plaintext" value="{{ object.email }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" id="address" class="form-control-plaintext" value="{{ object.address }}" readonly>
        </div>
    </div>
    <div class="row">
        <label for="block_status" class="col-sm-2 col-form-label">Block Status</label>
        <div class="col-sm-10">
            <input type="text" id="block_status" class="form-control-plaintext" value="{{ object.block_status }}" readonly>
        </div>
    </div> 
   
   
</form>
<a href="{% url "invoice:customer_list" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">All customers</a>
</body>
</html>
