<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Customers</title>
  </head>
  <body>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
              <h2 class="m-6 font-weight-bold text-primary">Customers Management</h2>
              <a href="{% url "invoice:customer_create" %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Create a new customer account</a>
              <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Logout</a>
  
  
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <td>Block Status</td> 
                                    <th>View Details</th>
                                    <th>His invoices</th>
                                    </tr>
                                    </thead>
                  
                               <tbody>
                                {% for customer in object_list %}    
                                <tr>
                                <td>{{ customer.id }}</td>  
                                <td>{{ customer.name }}</td>  
                                <td>{{ customer.email }}</td>  
                                <td>{{ customer.phone }}</td>  
                                <td>{{ customer.address }}</td>  
                                <td>{{ customer.block_status}}</td> 
                                <td><a href="{% url "invoice:customer_detail" customer.id %}">Details</a></td>
                                 <td><a href="{% url "invoice:invoicebycustomerid" customer.id %}">Customer Invoices</a></td>
                                    </tr>
                                {% endfor %}
                  </tbody>
                        </table>
                        <a href="{% url "invoice:invoice_list" %}">All Invoices</a>
                        <br>
                        <a href="{% url "invoice:product_list" %}">All products</a>

              </div>
            </div>
          </div>                    
        </body>
        </html>

       