<!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <title>Add a new customer</title>
      </head>
      <body>
        <div class="container">
          <h3 class="m-6 font-weight-bold text-primary">Insert Data for a new customer</h3>
          <form  method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit" />
            <a href="{% url "invoice:customer_list" %}">All customers</a>

          </form>
        </div>
      </body>
    </html>